!!!
%html{ :lang => 'en' }
  %head= render 'partials/head'
  %body.bp
    #container
      %header
        %hgroup
          %h1= @config[:title]
          %h2= @config[:tagline]
      %nav= render 'partials/nav'
      #content= yield
      #sidebar= render 'partials/sidebar'
      %footer= render 'partials/footer'
