!!!
%html{ :lang => 'en' }
  %head= render 'partials/head'
  %body.bp
    #container
      %header
        %hgroup
          %h1= @config[:title]
          %h2= @config[:tagline]
      %nav= render 'partials/nav'
      #content= yield
      #sidebar= render_cached 'partials/sidebar'
      %footer= render_cached 'partials/footer'
    = render_cached 'partials/analytics'
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'erambler'; // required: replace example with your forum shortname
      if (window.location.hostname == 'localhost')
        disqus_developer = 1;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
