!!!
%html{ :lang => 'en' }
  %head= render 'partials/head'
  %body.bp.post
    #container
      %header
        .blog-title= @config[:title]
        .blog-subtitle= @config[:tagline]
      %nav= render 'partials/nav'
      %article.single-page
        %h1.post-title= @item[:title]
        .post-content= yield
      #sidebar= render 'partials/sidebar'
      %footer= render 'partials/footer'
    = render 'partials/analytics'
